.colors__type
    .colors
        .ds
            .square#p100
            .colors__title
                h2 Dark Shade 100%
                h2 #1F2041
        .ds
            .square#p75
            .colors__title
                h2 Dark Shade 75%
                h2 #1F2041
        .ds
            .square#p50
            .colors__title
                h2 Dark Shade 50%
                h2 #1F2041
        .ds
            .square#p25
            .colors__title
                h2 Dark Shade 25%
                h2 #1F2041
        .ds
            .square#p5
            .colors__title
                h2 Dark Shade 5%
                h2 #1F2041
        .ds
            .square#sqr_purple
            .colors__title
                h2 Purple
                h2 #BC9CFF
        .ds
            .square#green
            .colors__title
                h2 Green
                h2 #6FCF97
    .type
        .type__inner
            h1#type__inner__title H1
            h1 This one is the sub-section  or<br>widget title
        .type__inner
            h2#type__inner__title H2
            h2 Next one is the item title inside<br>widget title
        .type__inner
            h3#type__inner__title H3
            h3 This is a label or CTA text
        .type__inner
            p#type__inner__title Body
            p This is the body text which is used for most<br>of the design, like paragraphs, lists, etc.
