div.container
    div.footer__creative
        div.footer__logo
            img#logo(src="./img/logo/logo.png", alt="alt")
            img#toxin(src="./img/logo/toxin.png", alt="alt")
        div.footer__text
            p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam 
            | pellentesque aliquam curabitur cociis.
        div.footer__icon
            div.icon
                a(href="#")
                    i.fab.fa-twitter
                a(href="#")
                    i.fab.fa-facebook-square
                a(href="#")
                    i.fab.fa-instagram
