div.container
    div.footer-widgets
        div.group2
            div.widget__logo
                img#logo(src="./img/logo/logo.png", alt="alt")
                img#toxin(src="./img/logo/toxin.png", alt="alt")
                p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            div#group2__navigation
                ul <h3> навигация
                    li О нас
                    li Новости
                    li Служба поддержки
                    li Услуги
            div#group2__about
                ul <h3> о нас
                    li О сервисе
                    li Наша команда
                    li Вакансии
                    li Инвесторы
            div#group2__support
                ul <h3> служба поддержки
                    li Соглашения
                    li Сообщества
                    li Связь с нами
            div.widget__subscribe
                h3 подписка
                p Получайте специальные предложения и новости сервиса
                input.sub__btn(type="text" placeholder="Your Email")
                img.arrow_forward(src="./img/arrow/arrow_forward.png", alt="alt")
div.container-hr
    div.footer-copybar
        div.group
                p Copyright © 2018 Toxin отель. Все права зачищены.
                div.icon
                    a(href="#")
                        i.fab.fa-twitter
                    a(href="#")
                        i.fab.fa-facebook-square
                    a(href="#")
                        i.fab.fa-instagram