div.container
    div.header
        div.Logo#user
            img#logo(src="./img/logo/logo.png", alt="alt")
            img#toxin(src="./img/logo/toxin.png", alt="alt")
        nav
            ul.navbar#navbar__user
                li Home
                li About us
                li Services
                div.arrow#arrow__user   
                li Careers
                li News
                li Documentation
                li#li__rectangle Cosmin Negoita