div.container  
    div.header
        div
            img#logo(src="./img/logo/logo.png" alt="alt")
            img#toxin(src="./img/logo/toxin.png" alt="alt")
        nav
            ul.navbar
                li О нас
                li Услуги
                div.arrow   
                li Вакансии
                li Новости
                li Соглашения
                div.arrow
                div
                    button.btn__log(type = 'button') ВОЙТИ
                    button.btn__reg(type = 'button') ЗАРЕГИСТРИРОВАТЬСЯ
