doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        script(src="https://kit.fontawesome.com/b86e924c22.js" crossorigin="anonymous")
        title Document
    body
        include includes/pug/header-guest.pug
        include includes/pug/header-user.pug
        include includes/pug/footer-widgets&copyright-bar.pug
        include includes/pug/footer-creative.pug
        include includes/pug/card.pug
        include includes/pug/form-elements.pug
        include includes/pug/colors.pug

    script(src="https://code.jquery.com/jquery-3.5.0.min.js")
    script(src='./uikit.js')