/* Footer Creative*/
.footer__creative {
    padding-top: 100px;
    padding-bottom: 110px;
    margin-top: 20px;
    margin-bottom: 130px;
    text-align: center;
}

.footer__creative .fab {
    margin-top: 32px;
    margin-right: 10px;
}