/* Header-user*/

#user {
    margin-top: -6px;
}

#navbar__user {
    width: 775px;
    margin-top: 20px;
}

#navbar__user li {
    padding-right: 0px;
    margin-right: 0px;
}

#arrow__user {
    margin-left: 0px;
    margin-right: -15px;
}